<div class="max-w-7xl mx-auto py-6 sm:px-4 lg:px-4">
    <div class="px-4 sm:px-6 lg:px-8">
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-6  py-4  center" *ngFor="let movie of movies">
                <div class="div-imagen animate__animated animate__fadeInUp" (click)="goMovie(movie)">
                    <div>
                        <h1 class="text-lg font-bold pb-2">{{movie.title | slice:0:20}}</h1>
                        <div class="py-1 flex justify-start">
                                <star-rating [value]="movie.vote_average/2" totalstars="5" checkedcolor="yellow"
                                    uncheckedcolor="gray" size="15px" readonly="false"></star-rating>
                                <p class="text-gray-500 text-xs font-semibold ml-2 flex flex-wrap content-center">{{movie.vote_average/2 |number}}
                                </p>
                        </div>
                        <p class="pt-1">{{movie.overview |slice:0:75}} ...</p>
                    </div>
                    <img [src]="movie.poster_path | poster" alt=""
                        class="img-fluid rounded-md hover:shadow-lg img desvanecer" />
                </div>
            </div>
        </div>
    </div>
</div>