<!-- This example requires Tailwind CSS v2.0+ -->
<div>
    <nav class="bg-white">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex items-center justify-between h-16">
                <div class="flex items-center">
                    <div class="flex-shrink-0">
                        <img class="h-8 w-8" src="https://tailwindui.com/img/logos/workflow-mark-indigo-500.svg"
                            alt="Workflow">
                    </div>
                    <div class="hidden md:block">
                        <div class="ml-10 flex items-baseline space-x-4">
                            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                            <a routerLink="/home" routerLinkActive="active"
                                class="text-gray-500 px-3 py-2  text-sm font-medium">Inicio</a>
                            <a routerLink="/search" routerLinkActive="active"
                                class="text-gray-500  px-3 py-2  text-sm font-medium">Team</a>
                        </div>
                    </div>
                </div>
                <div class=" items-end justify-between hidden md:block">
                    <div class="relative">
                        <div class="absolute top-4 "> 
                            <i class="fa fa-search text-gray-400 z-20 hover:text-gray-500"></i> 
                        </div> 
                        <input #searchText (keyup.enter)="searchMovie(searchText.value)" type="search" class="h-14 w-100 pl-10 rounded-lg z-0  focus:outline-none" placeholder="Buscar películas...">
                        <!-- <div class="absolute top-2 right-2"> 
                            <button class="h-10 w-20 text-white rounded-lg bg-red-500 hover:bg-red-600">Buscar</button>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>

    </nav>


</div>