.swiper-container{
    position: absolute;
    width: 65%;
}

.swiper-slide {
    width: 200px !important;
}


@media (max-width: 600px) {
    .swiper-container{
        position: absolute;
        width: 88%;
    }
  }