.swiper-container{
    height: 400px;
    width: 100%;
}

.movie-description{
    position: absolute;
    width: 30%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.823), rgba(255, 255, 255, 0));
    height: 100%;
}

.img-back{
    height: 100% !important;
    width: 100%;
}